.container {
    width: 100%;
    margin: 20 auto;
    padding: 60px;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}

.nav-link {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .nav-link:hover {
    background-color: #ddd;
    color: black;
  }

  .right-end{
    /* position:absolute; right:0; */
  }